{% extends 'base.html' %}
{% block content %}
	<h1>Hello world</h1>
	{% for profile in profiles %}
		<div class="container">
			<div class="list-group">
				<a href="#" class="list-group-item active">
					<h4 class="list-group-item-heading">Usuário</h4>
					<p class="list-group-item-text">{{profile.usuario}}</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Usuário</h4>
					<p class="list-group-item-text">{{profile.usuario}}</p>
				</a>

			</div>
		</div>
		<li>{{profile.sexo}}</li>
		<li>{{profile.endereco}}</li>
		<li>{{profile.phone}}</li>
		<li>{{profile.genero_favorito}}</li>
		<li>{{profile.redes_sociais}}</li>
		<li>{{profile.bio}}</li>
		<img src="{{profile.imageprofile.url}}" alt="">
	{% endfor %}
{% endblock content %}